/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/* Имя */
.header1{
  font-weight: bold;
}
.charBlock{
  display: flex;
  margin-top: 8px;
  grid-gap: 8px;
  /* flex-direction: column; */
}
.charName{

}
.charValue{
  font-weight: bold;
}
.charValue.datetime {
  font-weight: lighter;
}
.skillContainer{
  display: flex;
}

.skill {
  background-color: #f0f0f0;
  padding: 2px 3px;
  margin: 3px;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  min-height: 100vh;
}

/* Общие стили для секций */
.section {
  margin-bottom: 24px;
}

/* Header */
.section-header {
  text-align: center;
}

.header-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 16px;
}

/* Content - flex горизонтальный */
.section-content {
  display: flex;
  gap: 20px;
}

.flex-item {
  flex: 1;
  padding: 16px;
  /* background-color: #f0f0f0; */
  border-radius: 4px;
}
.flex-item.left {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 12px;
}

.photo-wrapper {
  width: 243px;
  height: 243px;
  border: 2px solid #c0c0c0;
  border-radius: 50%;
  background-color: #e1e4e8; /* Цвет как у пустой аватарки GitHub */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.info-block {
  display: flex;
  flex-direction: column;
  width: 243px;
  text-align: left;
  font-size: 14px;
  color: #333;
}
/* Footer */
.section-footer {
  display: flex;
  justify-content: space-between; /* раздвигает элементы по ширине */
  align-items: center;      /* выравнивает по вертикали */
  gap: 20px;                /* расстояние между элементами */
  margin-top: auto;
  text-align: center;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ccc;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  flex-wrap: wrap;          /* чтобы при малой ширине переносить на новую строку */

}

.contacts p:not(:last-child)::after {
  content: " | ";
}
.section-footer .contacts,
.section-footer .copyright {
  display: flex;
  align-items: center;
  gap: 10px; /* расстояние между элементами внутри */
}

a svg {
  transition: opacity 0.1s ease;
}

a:hover svg {
  opacity: 0.6; /* значение от 0 (прозрачный) до 1 (непрозрачный) */
}

.section-footer .social a:hover {
  color: #0088cc;
  text-decoration: none;
}
/* Адаптив для телефонов */
@media (max-width: 600px) {
  .section-content {
    flex-direction: column;
  }
  .photo-wrapper {
    width: 61px;
    height: 61px;
}
